body {
  background-color: rgb(169, 169, 173);
  color: rgb(23, 3, 138);
  text-align: center;
}

h2 {
  font-size: 40px;
}

#clock {
  margin-top: 10%;
  font-size: 60px;
}

#date {
  font-size: 45px;
}
